<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black100000(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{142,146}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{142,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{142,146}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{142,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{142,146}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{142,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{142,146}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{142,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{302,856},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{302,856},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{266,726},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{266,726},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>black100000(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{392,656},{114,126}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,61},{114,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,370},{112,116}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,71},{112,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,528},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{124,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,528},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{124,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,400},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{124,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,400},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{124,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,272},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{124,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,272},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{124,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,402},{62,62}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,98},{62,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,402},{62,62}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,98},{62,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,402},{62,62}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,98},{62,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{392,656},{114,126}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,61},{114,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,402},{62,62}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,98},{62,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,402},{62,62}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,98},{62,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,402},{62,62}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,98},{62,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{508,488},{102,112}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,71},{102,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{508,488},{102,112}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,71},{102,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{514,226},{90,96}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{90,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{514,226},{90,96}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{90,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{508,602},{102,106}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{102,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{508,602},{102,106}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{102,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>green100000 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,370},{112,116}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,71},{112,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{140,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{140,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{514,122},{102,90}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{102,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{108,98}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,50},{108,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{108,98}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,50},{108,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,488},{112,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,44},{112,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,488},{112,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,44},{112,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,132},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,132},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,904},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{140,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{140,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,904},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,784},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,784},{118,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{118,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{140,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{140,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{140,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{140,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{140,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{140,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,924},{98,84}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,56},{98,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,924},{98,84}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,56},{98,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>orange100000(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{514,122},{102,90}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{102,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{130,138}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{130,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,924},{102,98}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{512,370},{110,108}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,72},{110,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{512,370},{110,108}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,72},{110,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,252},{116,116}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{116,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,252},{116,116}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{116,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,596},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,596},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,466},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,466},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,272},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{130,138}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{130,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,272},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{124,128}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,784},{130,138}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{130,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,784},{130,138}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{130,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{130,138}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{130,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{130,138}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{130,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{96,92}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,85},{96,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{96,92}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,85},{96,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>purple100000(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,924},{102,98}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf92d9963160f48f04352bf92a71302$</string>
            <key>textureFileName</key>
            <string>create.png</string>
        </dict>
    </dict>
</plist>
