<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{484,966},{480,839}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,839}}</string>
                <key>sourceSize</key>
                <string>{480,839}</string>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,242},{410,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{410,238}}</string>
                <key>sourceSize</key>
                <string>{410,240}</string>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1684},{410,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,240}}</string>
                <key>sourceSize</key>
                <string>{410,240}</string>
            </dict>
            <key>back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,2},{410,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,238}}</string>
                <key>sourceSize</key>
                <string>{410,240}</string>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{792,484},{480,839}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,839}}</string>
                <key>sourceSize</key>
                <string>{480,839}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,225}}</string>
                <key>sourceSize</key>
                <string>{480,225}</string>
            </dict>
            <key>linetool.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,482},{480,221}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,221}}</string>
                <key>sourceSize</key>
                <string>{480,225}</string>
            </dict>
            <key>machine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,482},{212,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{212,152}}</string>
                <key>sourceSize</key>
                <string>{214,154}</string>
            </dict>
            <key>off-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1964},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,49}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>off-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1964},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,49}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>on-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1964},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,49}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>on-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1964},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,49}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>rank-background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{480,839}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,839}}</string>
                <key>sourceSize</key>
                <string>{480,839}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1964},{126,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{126,40}}</string>
                <key>sourceSize</key>
                <string>{130,42}</string>
            </dict>
            <key>set1-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{376,278}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{376,278}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>welcome.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{480,839}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,839}}</string>
                <key>sourceSize</key>
                <string>{480,839}</string>
            </dict>
            <key>关于我们-back.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,839}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,839}}</string>
                <key>sourceSize</key>
                <string>{480,839}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameElement.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f91f1304631a058bdac3a6835dbcff$</string>
            <key>textureFileName</key>
            <string>gameElement.png</string>
        </dict>
    </dict>
</plist>
